* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 1rem;
  font-family: 'Segoe UI', Arial, Helvetica, san-serif;
}

section {
  padding: 1rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

blockquote {
  border-left: 5px solid #f42;
  padding: .5rem;
  background: #ddd;
  font-size: 1.1rem;
}

button {
  border: 1px solid #333;
  padding: .5rem;
  text-transform: uppercase;
  border: 1px solid #000;
  border: none;
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  font-size: .8rem;
}

input {
  height: 30px;
  min-height: 30px;
  border: 1px solid #333;
  padding: .25rem;
}

.result {
  border-left: 5px solid green;
  padding: .25rem;
  background: #eee;
  margin-top: .5rem;
}

.result:before {
  content: '⇒ ';
}

.star {
  color: #f42;
  font-size: 1.25rem;
}

.helptext {
  font-size: .8rem;
  color: #333;
  font-style: italic;
}